<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Dell | Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="/static/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/static/amado/css/core-style.css">
    <link rel="stylesheet" href="/static/amado/style.css">
    <style>
        body{
            color:#007DB8;
        }
        a::after{
            background-color: #007DB8 !important;
        }
        a:hover{
            color:#007DB8 !important;
        }
        #scrollUp{
            background-color: #007DB8;
        }
        p,h4{
            display: none;
        } 
        .recom:hover{
            color: black !important;
        }
        .recoms:hover{
            color:#007DB8 !important;
        }
        th, td{
            max-width:33% !important;
            width:33% !important;
            flex:0 0 33% !important;
        } 
    </style>
</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="/static/amado/img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="../"><img src="/static/dell-logo.jpg" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="../"><img src="/static/dell-logo.jpg" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li><a href="../">Home</a></li>
                    <li class="active"><a href="./">Cart</a></li>
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <a href="../foryou/" class="btn amado-btn mb-15 recom" style="background-color: #007DB8 !important;">For You</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Shopping Cart</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%if valid == 1%}
                                    {% for index in data%}
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="#"><img src="{{index.photo}}" alt="Product"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{index.name}}</h5>
                                        </td>
                                        <td class="price">
                                            <span>{{index.cost}}</span>
                                        </td>
                                        
                                    </tr>
                                    {% endfor%}
                                    {% else %}
                                    <tr>{{error}}</tr>
                                    {% endif %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>{% if valid == 1%}{{total}}{% else%}{{valid}}{% endif%} </span></li>
                                <li><span>delivery:</span> <span>Free</span></li>
                                <li><span>total:</span> <span>{% if valid == 1%}{{total}}{% else%}{{valid}}{% endif%} rupees only</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="../" class="btn amado-btn w-100 recom" style="background-color: #007DB8 !important;">Checkout</a>
                                <a href="../" class="btn amado-btn w-100 recoms" style="background-color: black !important;" onclick="removecookies()">Remove all items</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    <script>
        function removecookies(){
            document.cookie = "id=;path=/dell";
        }
    </script>
    <!-- ##### Newsletter Area Start ##### -->
    <section class="newsletter-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <!-- Newsletter Text -->
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="newsletter-text mb-100">
                        <h2>Subscribe for the <span style="color: #007DB8 !important;">Annual Newsletter</span></h2>
                        <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-lg-6 col-xl-5">
                    <div class="newsletter-form mb-100">
                        <form action="#" method="post">
                            <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                            <input type="submit" value="Subscribe" style="background-color: #007DB8 !important;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="../"><h1 style="color: #007DB8 !important;">DELL</h1></a>
                        </div>
                        
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="../" style="color: white !important;">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../foryou/" >For You</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="./" style="color: #007DB8 !important;">Cart</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/static/amado/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/amado/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/amado/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/static/amado/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/amado/js/active.js"></script>

</body>

</html>