<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dell For You</title>
    <script>
      document.cookie = "csrftoken= ; expires = Thu, 01 Jan 1970 00:00:00 GMT,path=/"
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/selling/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/selling/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/selling/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/selling/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/selling/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/selling/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/static/selling/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/static/selling/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/static/selling/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/static/selling/css/aos.css">

    <link rel="stylesheet" href="/static/selling/css/style.css">
    <style>
    .product-item{
      display: flex;
      flex-direction: row;
    }
    figure{
      margin-right: 5%;
    }
    .holder{

      align-content: center;
      align-items: center;
      justify-content: center;
    }
    .space{
      height:20%;
    }
    a:hover{
      color:#007DB8 !important;
    }
    .nav-link{
      color:white !important;
    }
    .nav-link:hover{
      color:black !important;
    }
    figure::before{
      border: 4px solid #007DB8 !important;
    }
    .section-sub-title,.section-title{
      color:#007DB8 !important;
    }
    .site-wrap{
      height: 100% !important;
      width:100% !important;
    }
    header{
      width:100%;
      background-color: #007DB8 !important;
    }
    </style>
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   

    <header class="site-navbar site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="../" class="text-black mb-0"><img src="/static/logo.jpg" style="object-fit: contain;" width="100px" height="100px"> </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="../" class="nav-link">Home</a></li>
                <li><a href="./" class="nav-link">For You</a></li>
                <li><a href="../cart/" class="nav-link">Cart</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    


    
    <div class="site-section" id="products-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h3 class="section-sub-title"></h3>
            <h2 class="section-title mb-3">Recommended for you</h2>
            <p>The following products are recommended by taking into account included but not limited to websites visited,products viewed,time spent,browsing history and basic social media data</p>
          </div>
        </div>

        <div class="row">
            {% for index in data %}
          <div class="col">
            <div class="product-item">
              <figure>
                <img src="{{ index.photo }}" alt="Image" class="img-thumbnail" width="300px" height="300px">
              </figure>
              <div class="holder">
                <div class="space"></div>
              <div class="px-4">
                <h3><a href="{{ index.id }}/single">{{ index.name }} with {{index.gcompany}} {{ index.gcard }} graphics card, {{index.ram}} RAM and {{index.memory}} memory<br> Cost: ₹{{ index.cost }}</a></h3>
                <div class="mb-3">
                  <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> {{ index.rating }}</span>
                </div>
                <p class="mb-4">{{ index.screen}} screen size, {{index.processor}} processor  </p>
                <div>
                  
                  <a href="{{ index.id }}/single" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
                </div>
              </div></div>
            </div>
          </div>
          <div class="w-100"></div>
          {% endfor %}
          
        </div>
      </div>
    </div>
    
    <div class="site-blocks-cover inner-page-cover overlay get-notification"  style="background-color:#007DB8;" data-aos="fade">
      <div class="container">

        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h2>Please give us feedback on your experience so that we can keep improving</h2>
            <form class="d-flex mb-4" method="post" action="../">
                
              <input type="text" class="form-control rounded-0" placeholder="I didn't find laptops within my budget">
              <input type="submit" class="btn btn-white btn-outline-white rounded-0" value="Submit and go back to store">
            </form>
            <p></p>
          </div>
        </div>

      </div>
    </div>
    <footer class="site-footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4" style="color: #007DB8 !important;">About Us</h2>
                <p>Dell empowers countries, communities, customers and people everywhere to use technology to realize their dreams. Customers trust us to deliver technology solutions that help them do and achieve more, whether they’re at home, work, school or anywhere in their world. Learn more about our story, purpose and people behind our customer-centric approach.</p>
              </div>
              <div class="col-md-3 ">
                <h2 class="footer-heading mb-4" style="color: #007DB8 !important;">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="../">Home</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="/static/selling/js/jquery-3.3.1.min.js"></script>
  <script src="/static/selling/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/selling/js/jquery-ui.js"></script>
  <script src="/static/selling/js/popper.min.js"></script>
  <script src="/static/selling/js/bootstrap.min.js"></script>
  <script src="/static/selling/js/owl.carousel.min.js"></script>
  <script src="/static/selling/js/jquery.stellar.min.js"></script>
  <script src="/static/selling/js/jquery.countdown.min.js"></script>
  <script src="/static/selling/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/selling/js/jquery.easing.1.3.js"></script>
  <script src="/static/selling/js/aos.js"></script>
  <script src="/static/selling/js/jquery.fancybox.min.js"></script>
  <script src="/static/selling/js/jquery.sticky.js"></script>
  <script src="/static/selling/js/main.js"></script>
    
  </body>
</html>