<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <title>Dell | Product page</title>
    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/eiser/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/eiser/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/static/eiser/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/eiser/css/themify-icons.css" />
    <link rel="stylesheet" href="/static/eiser/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/eiser/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/static/eiser/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="/static/eiser/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="/static/eiser/vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="/static/eiser/css/style.css" />
    <link rel="stylesheet" href="/static/eiser/css/responsive.css" />
    <style>
    .anil{
      padding-left: 0% !important;
    }
    header{
      width:100%;
      background-color: #007DB8 !important;
      padding:0;
      margin:0;
    }
    .navbar-brand,.navbar-light{
      margin:0 !important;
      padding:0 !important;
    }
    .nav-link,.main_btn{
      font-size:16px !important;
      color:white !important;
      background-color:#007DB8 !important;
    }
    .nav-link:hover{
      color:black !important;
    }
    button{
      background-color:#007DB8 !important;
    }
    footer{
      background-color: #007DB8 !important;
    }
    .product_image_area {
      padding-top: 2% !important;
    }
    .product_description_area{
      padding-bottom: 5% !important;
    }
    .recom{
      color:white !important;
    }
    .recom:hover{
      color:black !important;
    }
      </style>
  </head>

  <body>
    {% for index in data%}
    <!--================Header Menu Area =================-->
    <header class="site-navbar site-navbar-target" role="banner">
      
      <div class="main_menu">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light w-100">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h col-6 mb-0" href="../../../">
              <img src="/static/logo.jpg" style="object-fit: contain;padding:0;margin:0;" width="100px" height="100px"/>
            </a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            

                <div class="col-lg-6 pr-0 col-12 col-md-10">
                  <ul class="nav navbar-nav navbar-right right_nav pull-right">
                    <li class="nav-item">
                        <a href="../../../" class="nav-link anil">Home</a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a href="../../" class="nav-link anil">For&nbsp;you</a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="nav-item">
                        <a href="../../../cart/" class="nav-link anil">Cart</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

    </header>
    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
   
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      class="d-block w-100"
                      src="{{index.photo}}"
                      alt="First slide"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      class="d-block w-100"
                      src="{{index.photo}}"
                      alt="Second slide"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      class="d-block w-100"
                      src="{{index.photo}}"
                      alt="Third slide"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>{{ index.name}}</h3>
              <h2 style="color:#007DB8 !important;">Cost: ₹{{index.cost}}</h2>
              <ul class="list">
                <li>
                  <a class="active" href="#" style="color:#007DB8 !important;">
                    <span>Category</span> : Gaming Laptops</a
                  >
                </li>
                <li>
                  <a href="#"> <span>Availibility</span> : In Stock</a>
                </li>
              </ul>
              <p>
                {{index.name}} is the best choice laptop with {{index.ram}} RAM, a {{index.gcard}} {{index.gcompany}} graphic card, {{index.memory}} memory,{{index.processor}} processor,{{index.processor}} and a {{index.screen}} screen size just at {{index.cost}} rupees.
              </p>
              
              <div class="card_area">
                <a class="main_btn recom" href="#" onclick="cookieset({{index.id}})">Add to Cart</a>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >Description</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Specification</a
            >
          </li>
         
          <li class="nav-item">
            <a
              class="nav-link active"
              id="review-tab"
              data-toggle="tab"
              href="#review"
              role="tab"
              aria-controls="review"
              aria-selected="false"
              >Reviews</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <p>
                Finally – a laptop that can harness the power of even the highest-performance gaming desktop. With upgradeable and overclockable CPU and GPU, the Area-51m is now the world's most powerful* and upgradeable* gaming laptop.
                <br>GAME LIKE A CHAMPION
                For esports pros like Team Liquid, the path to gaming glory begins with machines built to make champions.
            </p>
            <p>
                UNITE AS ONE
                Whether gaming with a few close friends or a network of dozens, Alienware machines give teams the edge they need to unite and take down any enemy.
                <br>ELEVATE YOUR GAME
From streamers and cosplayers to solo gamers, Alienware technology is engineered to amplify the enthusiasm of gamers everywhere.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <h5>RAM</h5>
                    </td>
                    <td>
                      <h5>{{index.ram}}</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Graphic card memory</h5>
                    </td>
                    <td>
                      <h5>{{index.gcard}}</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Graphic card company</h5>
                    </td>
                    <td>
                      <h5>{{index.company}}</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Memory</h5>
                    </td>
                    <td>
                      <h5>{{index.memory}}</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Processor</h5>
                    </td>
                    <td>
                      <h5>{{index.processor}}</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Screen size</h5>
                    </td>
                    <td>
                      <h5>{{index.screen}}</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <div class="comment_list">
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        <img
                          src="/static/eiser/img/product/single-product/review-1.png"
                          alt=""
                        />
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>12th Feb, 2017 at 05:56 pm</h5>
                        <a class="reply_btn" href="#">Reply</a>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                  </div>
                  <div class="review_item reply">
                    <div class="media">
                      <div class="d-flex">
                        <img
                          src="/static/eiser/img/product/single-product/review-2.png"
                          alt=""
                        />
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>12th Feb, 2017 at 05:56 pm</h5>
                        <a class="reply_btn" href="#">Reply</a>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                  </div>
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        <img
                          src="/static/eiser/img/product/single-product/review-3.png"
                          alt=""
                        />
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>12th Feb, 2017 at 05:56 pm</h5>
                        <a class="reply_btn" href="#">Reply</a>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Post a comment</h4>
                  <form
                    class="row contact_form"
                    action="contact_process.php"
                    method="post"
                    id="contactForm"
                    novalidate="novalidate"
                  >
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Your Full name"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Email Address"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id="number"
                          name="number"
                          placeholder="Phone Number"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          name="message"
                          id="message"
                          rows="1"
                          placeholder="Message"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 text-right">
                      <button
                        type="submit"
                        value="submit"
                        class="btn submit_btn"
                      >
                        Submit Now
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade show active"
            id="review"
            role="tabpanel"
            aria-labelledby="review-tab"
          >
            <div class="row">
              <div class="col-lg-6">
                <div class="row total_rate">
                  <div class="col-6">
                    <div class="box_total">
                      <h5>Overall</h5>
                      <h4 style="color:#007DB8 !important;">{{index.rating}}</h4>
                      <h6>(270 Reviews)</h6>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="rating_list">
                      <h3>Based on 270 Reviews</h3>
                      <ul class="list">
                        <li>
                          <a href="#"
                            >5 Star
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> 120</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            >4 Star
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> 70</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            >3 Star
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> 40</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            >2 Star
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> 15</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            >1 Star
                            <i class="fa fa-star"></i> 05</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="review_list">
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        
                      </div>
                      <div class="media-body">
                        <h4>T. Anil Kumar</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p>
                      Absolutely a beast of its kind. I bought it a year ago and they gave some goodies like Intel gaming offers worth 10k. It's smooth and elegant. Coming to drawbacks the cooling system or cooling fans are not that silent they make a huge noise when we play a high graphic game and the overheating if we play a game like GTA V or PUBG for a continuous one or 2 hours the surface of the trackpad will get heated up.
But a laptop of this specs is really awesome
                    </p>
                  </div>
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        
                      </div>
                      <div class="media-body">
                        <h4>Teja Nagubandi</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p>
                      It's the best laptop for gaming,
Ventilators do their job perfectly,
Ram is pretty good and expandable,
Graphics card is amazing,
Overall a perfect laptop to buy
                    </p>
                  </div>
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                       
                      </div>
                      <div class="media-body">
                        <h4>Preetham Raj</h4>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p>
                      No idea how some of them didn't like this laptop. It's been more than a year now. Using the lap. I don't use it for games though. I use it for my office purpose. Everyday I use my laptop for 10 hours. Been too good for me. Not even a single issue so far.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Add a Review</h4>
                  <p>Your Rating:</p>
                  <ul class="list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                  </ul>
                  <p>Outstanding</p>
                  <form
                    class="row contact_form"
                    action="contact_process.php"
                    method="post"
                    id="contactForm"
                    novalidate="novalidate"
                  >
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Your Full name"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Email Address"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          id="number"
                          name="number"
                          placeholder="Phone Number"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          name="message"
                          id="message"
                          rows="1"
                          placeholder="Review"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 text-right">
                      <button
                        type="submit"
                        value="submit"
                        class="btn submit_btn"
                      >
                        Submit Now
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Product Description Area =================-->
    <section class="access" style="object-fit: contain !important;padding-bottom:5% !important; " >
      <u style="color:black !important;"><h2 style="padding-bottom: 5% !important;background-color: white !important;color:#007DB8 !important; text-align: center !important;">Recommended accessories</h2></u>
      <div class="row">
        {% for i in access %}
      <div class="col">
        <div class="product-item">
          <figure>
            <img src="{{ i.photo }}" alt="Image" class="img-thumbnail" width="300px" height="300px" style="height:300px !important;width:300px;object-fit:contain !important;">
          </figure>
          
          <div class="px-4">
            <h4><a href="#">{{ i.name }} <br> Cost: ₹{{ i.cost }}</a></h4>
            <div>
              
              <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0 recom" style="background-color: #007DB8 !important;" onclick="cookieset({{i.id }}+11)">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <script>
        function cookieset(id){
          var temp = document.cookie;
          var len = temp.length;
          temp = temp.slice(3,len);
          temp = temp + "/"+id.toString();
          document.cookie = "id="+temp+";path=/dell";
        }
      </script>
    </div>

    </section>

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 single-footer-widget">
            <h4>Newsletter</h4>
            <p style="color: white !important;">You can trust us. we only send promo offers,</p>
            <div class="form-wrap" id="mc_embed_signup">
              <form target="_blank" action=""
                method="get" class="form-inline">
                <input class="form-control" name="EMAIL" style="background-color: white !important;" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                <button class="click-btn btn btn-default">Subscribe</button>
                <div style="position: absolute; left: -5000px;">
                  <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                </div>
  
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-bottom row align-items-center">
     
          <div class="col-lg-4 col-md-12 footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/eiser/js/jquery-3.2.1.min.js"></script>
    <script src="/static/eiser/js/popper.js"></script>
    <script src="/static/eiser/js/bootstrap.min.js"></script>
    <script src="/static/eiser/js/stellar.js"></script>
    <script src="/static/eiser/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/static/eiser/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/static/eiser/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/static/eiser/vendors/isotope/isotope-min.js"></script>
    <script src="/static/eiser/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/static/eiser/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/eiser/js/mail-script.js"></script>
    <script src="/static/eiser/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/static/eiser/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/static/eiser/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/static/eiser/js/theme.js"></script>
    {% endfor %}
  </body>
</html>
